:root {
    --white: white;
    --violet: rgb(115, 85, 150);
    --light-violet: rgb(172, 142, 204);
    --black: black;
    --grey: grey;
}

button {
    border: none;
    background-color: var(--violet);
    border-radius: 5px;
    font-size: 15px;
}

#hide {
    visibility: hidden;
}

#show {
    visibility: visible;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

h1 {
    color: var(--violet);
    font-size: large;
}

#answersList {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: left;
    padding-left: 0;
}

#listItem {
    font-size: larger;
    background-color: var(--violet);
    margin-bottom: 5px;
    border-radius: 15px;
    padding: 10px;
    color: white;
}

#listItem:hover {
    background-color: var(--light-violet);
}

.quiz-box {
    margin-top: 150px;
    width: 30%;
    align-self: center;
    text-align: center;
}

.quiz-header {
    font-weight: 800;
    font-size: 30px;
}

.quiz-body {
    font-size: 19px;
}

.start-quiz-button {
    width: 130px;
    height: 40px;
    align-self: center;
    color: var(--white);
    font-size: larger;
}

.start-quiz-button:hover {
    background-color: var(--light-violet);
}

#result-text {
    display: flex;
    font-size: 30px;
    color: var(--grey);
    width: 40%;
    align-self: center;
}

#submitButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 30px;
    width: 60px;
    background-color: var(--violet);
    color: var(--white);
    padding-top: 5px;
}

#submitButton:hover {
    background-color: var(--light-violet);
}

#saveInitialsInput {
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 30px;
    width: fit-content;
    margin-bottom: 10px;
}

#setInitialsText {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

#buttons {
    display: flex;
    width: 30%;
    align-self: center;
    color: var(--white);
}

#goBackBtn:hover,
#highScoreBtn:hover {
    background-color: var(--light-violet);
}

#highScoresList {
    background-color: var(--violet);
    color: var(--white);
}